@use 'variables';

/*==== about__dat ====*/
.about__data {
  text-align: center;
}

.about__description {
  span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
  }
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 200px;
  border-radius: 0.5rem;
}

.qualification__container {
  row-gap: 2.5rem;
}

.qualification__title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
  display: flex;
  align-items: center;
}

.qualification__title-icon {
  font-size: 1.5rem;
  margin-right: var(--mb-1);
}

.qualification__box {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
s .qualification__area {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.qualification__icon,
.qualification_work {
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}

.qualification_work {
  display: block;
}
