@use 'variables';

/*==== SERVICES  ====*/
.services__data {
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

services__icon,
.services__title {
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}

.services__icon {
  font-size: 3rem;
}

.services__title {
  font-size: var(--h3-font-size);
}

.services__description {
  margin-bottom: var(--mb-4);
}

.services__data:hover {
  transform: translate(-0.5rem);
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}
