@use 'variables';

/*=== TESTIMONIAL ===*/

.testimonial__content {
  display: grid;
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(47, 10, 13, 0.25);
  margin-bottom: 48px;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.testimonial__client {
  font-size: var(--small-font-size);
  color: var(--first-color-light);
  margin-bottom: var(--mb-2);
}

.swiper-pagination {
  position: initial;
  .swiper-pagination-bullet-active {
    background-color: var(--first-color);
  }
}
